# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias timer='echo "Timer started. Stop with CTRL-D" && date && time cat && date'
alias untar='tar xvf'
alias g="git"
alias h="history"

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'